@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto'
}

a {
  color: inherit;
  text-decoration: none;
  color:rgb(255, 147, 147)
}

* {
  box-sizing: border-box;
}

#profilePicture{
  border-radius: 50px;
  margin: 10px;
}

#general-title{
  font-weight: 900;
  text-align: center;
}

#general-subtitle{
  font-weight: 900;
  font-size: 20px;
}

#features-subtitle{
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

#general-light{
  font-weight: 400;
  font-size: 20px;
}

.card-container{
  width: 75%;
}

#card-heading-p{
  font-weight: 900;
  font-size: 17px
}

.tag{
  border-radius: 50px !important;
}

#card-subtext-p{
  font-size: 16px;
}

.card-tag{
  width: 60px
}

.page-container{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seemore-page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.description-container{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu{
  display: none;
}

@media screen and (max-width: 1020px){
  .mobile-menu{
    display: block;
    top: 8;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 99;
  }
}

.dropdown-menu{
  width: 100vw;
}

.image-container{
  height: 256px;
  width: 256px;
}

#question-mark{
  font-size: 200px;
}

.seemore-page-subheading{
  width: 40%;
  text-align: center;
}

.categories-page-container{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.title-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-container{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

#p-error{
  color:rgb(241, 109, 109);
  font-size: 15px;
}

#p-success{
  color:rgb(0, 153, 64);
  font-size: 15px;
}

.status-container,
.status-container p{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgb(255, 147, 147)
}

.columns-header-category,
.columns-container,
.table-container{
  width: 80%;
}

@media screen and (max-width: 800px){
  .pie-container{
    width: 470px !important;
  }
  .chart-container{
    margin-top: 90px !important;
  }
}

.pie-container{
  width: 900px;
  display: flex;
  justify-content: center;
  margin-left: 3vw;
}

.chart-container{
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: center;
  margin-left: 11vw;
}

.line-container{
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: center;
  margin-left: 3vw;
}

.calendar-dimensions input{
  width: 100%;
  height: 40px;
}

.dropdown-content-container{
  padding-left: 10px
}